{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="h3 mb-3 font-weight-normal text-center">Registro</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nombre_user) }}
        {{ form_row(registrationForm.no_empleado) }} 
        {{ form_row(registrationForm.plainPassword, {
            label: 'PIN'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="d-grid gap-2">
        <button class="btn btn-success mt-2" type="submit">Enviar</button>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
